body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
  background-color: transparent;
}

.VideoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.VideoBackground .video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  -o-object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
}

.Content {
  position: relative;
  z-index: 1;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Content .photodiv1 {
  background-image: url(../../img/photo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
.Content .member-section {
  margin-top: 140px;
  margin-bottom: 140px;
}
.Content .RichardKruspe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.Content .RichardKruspe .photodiv2 {
  background-image: url(../../img/photo2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
.Content .photodiv3 {
  background-image: url(../../img/photo3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
.Content .photodiv4 {
  background-image: url(../../img/photo4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
.Content .photodiv5 {
  background-image: url(../../img/photo5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
.Content .photodiv6 {
  background-image: url(../../img/photo6.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
.Content header {
  margin-bottom: 30px;
  width: 600px;
  font-size: 1.5rem;
}
.Content header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Content .logo {
  background-image: url(../../img/Rammstein-Logo.png);
  background-color: wheat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  height: 480px;
  margin-bottom: 40px;
}

.member-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.member-section .member-photo {
  height: 400px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.member-section .member-text {
  width: calc(100% - 320px);
  max-width: 900px;
  padding-left: 20px;
}

.BigSection div {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.BigSection div div {
  width: 300px;
  height: 400px;
  margin-right: 20px;
}
.BigSection div .textdiv {
  width: 800px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h1, p, h2 {
  animation-name: colorChange;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

a {
  animation-name: atagcolorChange;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

@keyframes colorChange {
  0%, 16.67%, 83.33% {
    background-color: #ca0207;
    background-image: linear-gradient(90deg, #ca0207 0%, #270404 50%, #ca0207 100%);
  }
  33.33% {
    background-color: #9802ca;
    background-image: linear-gradient(90deg, #9802ca 0%, #270425 50%, #a202ca 100%);
  }
  50% {
    background-color: #ca9b02;
    background-image: linear-gradient(90deg, #ca9b02 0%, #271a04 50%, #ca9b02 100%);
  }
  66.67% {
    background-color: #0245ca;
    background-image: linear-gradient(90deg, #0245ca 0%, #686c92 50%, #0036d6 100%);
  }
  100% {
    background-color: #ca9b02;
    background-image: linear-gradient(90deg, #045c4f 0%, #56847b 50%, #045c4f 100%);
  }
}
@keyframes atagcolorChange {
  0% {
    background-color: #9802ca;
    background-image: linear-gradient(90deg, #9802ca 0%, #270425 50%, #a202ca 100%);
  }
  16.67% {
    background-color: #ca9b02;
    background-image: linear-gradient(90deg, #ca9b02 0%, #271a04 50%, #ca9b02 100%);
  }
  33.33% {
    background-color: #0245ca;
    background-image: linear-gradient(90deg, #0245ca 0%, #686c92 50%, #0036d6 100%);
  }
  50% {
    background-color: #ca0207;
    background-image: linear-gradient(90deg, #ca0207 0%, #270404 50%, #ca0207 100%);
  }
  66.67% {
    background-color: #ca9b02;
    background-image: linear-gradient(90deg, #045c4f 0%, #56847b 50%, #045c4f 100%);
  }
  83.33% {
    background-color: #9802ca;
    background-image: linear-gradient(90deg, #9802ca 0%, #270425 50%, #a202ca 100%);
  }
  100% {
    background-color: #0245ca;
    background-image: linear-gradient(90deg, #0245ca 0%, #686c92 50%, #0036d6 100%);
  }
}
@media (max-width: 1024px) {
  .Content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .Content header {
    width: 70%;
    font-size: 1.25rem;
  }
  .Content .textdiv {
    width: 600px;
    margin: 1rem auto;
  }
  .Content .logo {
    width: 700px;
    height: 400px;
  }
  .Content h1 {
    font-size: 2.5rem;
  }
  .Content h2 {
    font-size: 1.75rem;
  }
  .Content p, .Content .contact-info a {
    font-size: 1rem;
  }
  .Content .BigSection div {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .Content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .Content .textdiv {
    width: 400px;
  }
  .Content .member-section {
    width: 600px;
  }
  .Content .photodiv2 {
    width: 300px;
    margin-right: 60px;
    flex: 0 0 auto;
  }
  .Content .logo {
    width: 500px;
    height: 300px;
  }
  .Content h1 {
    font-size: 2rem;
  }
  .Content h2 {
    font-size: 1.5rem;
  }
  .Content p, .Content .contact-info a {
    font-size: 0.9rem;
  }
  .Content .member-section {
    margin-top: 0px;
  }
  .Content .textdiv {
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .Content .TillLindemann {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 1000px;
  }
  .Content .TillLindemann .textdiv {
    width: 400px !important;
  }
  .Content .RichardKruspe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .Content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .Content {
    padding: 0.5rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .Content header {
    font-size: 1.1rem;
  }
  .Content .textdiv {
    margin-top: 20px;
    width: 380px;
  }
  .Content .logo {
    width: 300px;
    height: 200px;
  }
  .Content h1 {
    font-size: 1.5rem;
  }
  .Content h2 {
    font-size: 1.2rem;
  }
  .Content p, .Content .contact-info a {
    font-size: 0.8rem;
  }
  .Content .member-section {
    width: 400px;
  }
  .Content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=members.css.map */