@mixin goFlex($dir: row, $justify: flex-start, $align: stretch, $wrap: wrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin child-image($size: cover, $position: center) {
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}
@mixin hwidth($width: 300px, $height: inherit){
    width: $width;
    height: $height;
}
@mixin gradient-background {
    background: radial-gradient(
      circle at 50% 45%, 
      #1a1a1a 0%, 
      #0f0f0f 10%, 
      #050505 20%,  
      #000000 30%, 
      #000000 40%, 
      #050505 50%, 
      #0f0f0f 60%, 
      #1a1a1a 70%,  
      #252525 80%, 
      #303030 90%, 
      #383838 100%
    );
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin slider-thumb($color) {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: $color;
    border-radius: 50%;
    cursor: pointer;
  }
  
  @mixin object-fit($fit) {
    object-fit: $fit;
    -o-object-fit: $fit;
    -moz-object-fit: $fit;
    -webkit-object-fit: $fit;
  }